.CartTitle {
  padding: 10px 10px 10px 15px;
  text-transform: uppercase;
  display: flex;
  background-color: #f98d8d;
  color: #fff;
}

.back-arrow,
.right {
  flex: 1;
}
.back-arrow a {
  color: inherit;
}

.title {
  font-size: 1.5rem;
}

.CartHeading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bolder;
}

.CartHeading p.heading {
  width: 80%;
  margin: auto;
  text-align: center;
}

/* CART ITEM */

.CartItem {
  margin-left: 15px;
  margin-bottom: 20px;
}

.upper-cart-container {
  display: flex;
  align-items: flex-end;
  column-gap: 10px;
}

/* Cart Item Name */
.CartItem h5 {
  font-weight: 300;
  padding-top: 10px;
  padding-left: 4px;
  text-transform: capitalize;
}

.cart-image-container {
  width: 47.5%;
  position: relative;
}

.cart-image-container::after {
  content: '';
  display: block;
  padding-bottom: 84%;
}

.cart-image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

/* ITEM COUNTER */

.CounterComponent {
  margin-left: 10%;
}

.Counter {
  display: flex;
  padding-bottom: 5px;
}

.increment-counter,
.decrement-counter {
  width: 25px;
  height: 25px;
}

.counter-input {
  border: none;
  width: 30px;
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 1rem;
  padding-top: 3px;
}

.CounterComponent .item-total {
  font-size: 0.9rem;
}
.CounterComponent .item-total span {
  font-weight: 700;
}

/* CHECKOUT */

.Checkout {
  width: 90%;
  margin: 0 auto;
}

.Checkout h3 {
  text-align: center;
  text-transform: uppercase;
}

.Checkout h2 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 300;
  margin-top: 10px;
}
.Checkout h2 span {
  font-weight: 700;
}

.line {
  border: 1px solid #000;
  width: 70%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 15px;
}

.checkout-item {
  display: flex;
  column-gap: 20px;
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0 0 20px 0;
}

.checkout-item .name {
  flex: 2;
  text-transform: capitalize;
}
.checkout-item .price {
  flex: 1;
}
.checkout-item .total {
  flex: 1;
  font-weight: 700;
}
