#ExploreSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 0 10px;
}

.Explore {
  font-size: 1.1rem;
  margin: 20px 0 0 0;
  font-weight: bolder;
}

.Items {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}

.item {
  margin-top: 15px;
}

.image-container {
  width: 100%;
  position: relative;
}

.image-container::after {
  content: '';
  display: block;
  padding-bottom: 80%;
}

.image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-name {
  font-size: 0.938rem;
  font-weight: 300;
  margin: 8px 0 5px 0;
  text-transform: capitalize;
}

.item-bottom {
  display: flex;
  flex-direction: column;
}

.add-to-cart {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.cart-icon {
  align-self: flex-end;
}

.add-to-cart p {
  font-family: 'Overlock', cursive;
  font-size: 0.875rem;
}

.item-price {
  font-size: 1rem;
  font-weight: bold;
}

.price-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.seperator {
  border: 1px solid #000;
  width: 40%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Greater than 600 */

@media (min-width: 601px) {
  .Items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .image-container img {
    border-radius: 2px;
  }
}

/* Greater then 650 */
@media (min-width: 650px) {
  #ExploreSection {
    align-items: flex-start;
  }
  .Explore {
    padding: 0 15px 0 15px;
  }
  .Items {
    padding: 0 15px 0 15px;
  }
  .item-name {
    font-size: 1rem;
  }
  .item-price {
    font-size: 1.1rem;
  }
  .cart-icon {
    width: 27px;
    height: 27px;
  }
  .add-to-cart p {
    font-size: 1rem;
  }
}

/* Greater than 800 */
@media (min-width: 800px) {
  .Items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Greater then 900 */

@media (min-width: 901px) {
  .HeadingTitle {
    font-size: 2.5rem;
    line-height: 50px;
  }
}

/* Greater than 1400px */
@media (min-width: 1400px) {
  #ExploreSection {
    margin: 0 2vw 0 2vw;
  }
}
